/****************************************************************************
* STANDARD
****************************************************************************/
ul#neat-pages-navigation{border-top:1px solid #ddd;clear:both;padding-top:30px;text-align:center;width:100%;
  li{background:none;border:0;display:inline-block;font-size:12px;margin:0px 2px 0px 0px;
    a{background:#fff;border:solid 1px #eee;color:#555;font-size:12px;font-weight:normal;margin-right:2px;padding:5px 9px;text-decoration:none;}
    a:hover{border:solid 1px #ccc;color:#000;}
  }
  li.page.selected a{background:#ccc;border:1px solid #777;color:#222;font-weight:normal;padding:5px 9px;}
  li.move.disabled a{background-color:#eee;border:solid 1px #DEDEDE;color:#aaa;cursor:default;}
}

/****************************************************************************
* LIGHT
****************************************************************************/
ul#neat-pages-navigation.light{
  li.page{display:none;float:left;height:1px;position:absolute;visibility:hidden;width:1px;}
  li.move{display:block;}
  li.move.disabled{display:none;}
  li.move.previous{float:left;margin-left:5%;}
  li.move.next{float:right;margin-right:5%;}
}


